<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Decentralized Pizza App</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h3>Welcome to Decentralized Pizza App app!</h3>

  <p>
    This NUS ISS stackup blockchain pizza demo app.
  </p>
  
</ion-content>
